.flashcard {
    overflow: hidden;
    width: 70%;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #FAFCF9;
    background-size: 100% 1.5em; /* Size of the lines */
}

.flashcard-content {
    padding: 1.65rem 2rem;
    height: 100%;
    flex: 9;
}

.flashcard-bottom > button {
    width: 100%;
    border-radius: 0;
    flex: 1
}

.flashcard-container {
    display: flex;
    flex-direction: column;
    min-height: 10rem;
}

.flashcard-container > button {
    width: 500px;
}

.flashcard-category {
    text-align: end;
    font-weight: bold;
}

.flashcard-nav {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem
}

.flashcard-button {
    background-color: lightgray;
    border-radius: 10px;
}

.flashcard-button:hover {
    background-color: darkgray;
}

