
#home-screen-trio {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 50%
}

#home-screen-trio > input {
    height: 2rem;
}

#home-screen-trio > div  button {
    flex: 1
}

#home-screen-trio > div {
    width: 100%;
    display: flex;
    justify-content: stretch;
}

.error {
    background-color: pink;
    border-radius: 10px;
    width: 50%;
    margin: 30px auto;
}

#msg-container {
    width: 50%;
    margin: 0 auto;
}