.study-container {
    margin: 1rem auto;
    width: 70%;
}

.study-grade-result {
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 5rem;
    width: 70%;
}

.study-answer-container {
    height: 3rem;
    flex-direction: row;
    justify-content: center;
    display: flex;
}

.study-answer-container > input {
    flex: 6;
    box-sizing: border-box;
    height: 100%;
}

.study-answer-container > button {
    flex: 4;
    border-radius: 0;
}


.study-mode-controls {
    margin-top: 1rem;
    justify-content: space-evenly;
    display: flex;
}

.study-mode-controls > button {
    width: 45%
}