:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  height: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  
  /*--primary-color: #FFD6A5; /* Light orange */
  /*--secondary-color: #FFC6FF; /* Soft pink */
  /*--accent-color-1: #A0C4FF; /* Sky blue */
  /*--accent-color-2: #FDFFB6; /* Pastel yellow */
  /*--background-color: #FFFFFC;  Off-white for a clean background */
  --text-color: #495057;  /*Dark gray for readable text */
  --selected-nav-color: #568c8c;
  --button-hover-color: #e7e8ff;
  /*--focus-outline: 4px auto -webkit-focus-ring-color;*/
  --focus-outline:  none;

}

html {
  background-color: #ffd6a5;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif; /* Modern, readable font */
  color: var(--text-color);
  line-height: 1.6; /* Spacing between lines */
}

.my {
  margin: 1rem 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

#main-app {
  background-color: #ffd6a5;
}

/* Layout and White Space */
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
  color: var(--text-color);
}

/* Paragraph */
p {
  margin-bottom: 20px;
}

button {
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  height: 100%;
  background-color: #d9daf4;
  cursor: pointer;
  transition: border-color 0.25s;

}
button:hover {
  background-color: var(--button-hover-color);
}
button:focus,
button:focus-visible {
  outline: var(--focus-outline);
}

